<div class="ui form">
  <div class="field">
    <select [(ngModel)]="group_selected" (change)="selectGroup()">
      <option value="">Selecciona un grupo o lugar de origen</option>
      <option *ngFor="let gp of groups_places" [value]="gp._id">{{gp.base + ' - ' + gp.name}}</option>
    </select>
  </div>

  <div class="field">
    <select [(ngModel)]="group_selected2" (change)="selectGroup()">
      <option value="">Selecciona un grupo o lugar de origen</option>
      <option *ngFor="let gp of groups_places" [value]="gp._id">{{gp.base + ' - ' + gp.name}}</option>
    </select>
  </div>
</div>

<div class="ui active centered inline loader" style="margin-top: 20px;" *ngIf="loading"></div>

<div class="ui message" *ngIf="tariff && !loading">
  <i class="close icon" (click)="deleted()"></i>
  <div>
    {{tariff.cost | currency:'MXN':'symbol-narrow'}}
    <edit-tariff [tariff_id]="tariff._id" (delete)="deleted()" (update)="edited($event)"></edit-tariff>
  </div>
</div>

<h3 *ngIf="!tariff && group_selected && group_selected2 && !loading">No hay una tarifa registrada para estas colonias</h3>
