<div class="ui grid" style="height: 100%;">
    <div class="two wide column" style="border-right: 1px solid black;">
        <sm-list class="divided">
          <sm-item *ngFor="let colony of colonies">
            <i style="color: red; cursor: pointer;" (click)="delete_colony(colony)">x</i>
            {{colony.label}}
          </sm-item>
        </sm-list>

        <h5 *ngIf="colonies.length == 0 && group_selected">
          Aún no hay colonias registradas en este grupo.
        </h5>

        <h5 *ngIf="colonies.length == 0 && !group_selected">
          Selecciona un grupo
        </h5>
      </div>

      <div class="fourteen wide column">
         <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
          <agm-marker *ngFor="let colony of colonies" [label]="colony.label" [latitude]="colony.latitude" [longitude]="colony.longitude"></agm-marker>
        </agm-map>
        <br>
        <form [formGroup]="colonyForm">
          <div class="ui input fluid">
            <input type="text" #search formControlName="name">
          </div>
        </form>


      </div>
</div>
