<div class="ui padded grid">
  <div class="four wide column" style="max-height: 90vh; overflow-y: scroll;">
    <sm-list class="divided animated">
      <sm-item *ngFor="let base of bases" [header]="base.name" routerLink="/dashboard/base/{{base._id}}" [ngClass]="{'base-selected': base._id == base_selected}">
        {{base.address}}
      </sm-item>
    </sm-list>
  </div>
  <div class="twelve wide column">
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker (markerClick)="selectBase(marker)" [iconUrl]="'assets/base.png'" [openInfoWindow]="true" *ngFor="let marker of markers" [label]="marker.label" [latitude]="marker.latitude" [longitude]="marker.longitude"></agm-marker>
    </agm-map>

    <form class="ui form" [formGroup]="baseForm" style="margin-top: 1em;">
      <sm-loader [complete]="!loading" class="inverted" text="Guardando"></sm-loader>

      <div class="field">
        <sm-input label="Nombre" [control]="name" placeholder="Nombre base"></sm-input>
      </div>
      <div class="field">
        <!-- <sm-input label="Dirección" [control]="address" placeholder="Dirección base" #search></sm-input> -->
        <label>Dirección</label>
        <input type="text" formControlName="address" #search>
      </div>

      <sm-button (click)="base_save()" [disabled]="baseForm.invalid" class="primary">Crear base</sm-button>
    </form>

  </div>
</div>

<style>
  .base-selected {
    border: 1px solid #FFC107;
    padding: 10px !important;
  }

  agm-map {
    height: 70vh;
  }
</style>

