<div class="ui padded grid">
  <div class="four wide column">
    <sm-button class="fluid yellow" icon="plus" routerLink="/dashboard/bases/new">Crear nueva base</sm-button>
    <br>
    <sm-list class="divided animated">
      <sm-item *ngFor="let base of bases" [header]="base.name" routerLink="/dashboard/base/{{base._id}}">
        {{base.address}}
      </sm-item>
    </sm-list>
  </div>
  <div class="twelve wide column">
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker *ngFor="let marker of markers" [label]="marker.label" [latitude]="marker.latitude" [longitude]="marker.longitude"></agm-marker>
    </agm-map>
  </div>
</div>

