<div class="ui padded grid">
  <div class="row">
    <div class="sixteen wide column" style="margin-bottom: 20px;">
        <div class="ui large breadcrumb">
            <a class="section" routerLink="/dashboard/drivers">Conductores</a>
            <i class="right chevron icon divider"></i>
            <div class="active section">{{driver?.full_name}}</div>
          </div>
    </div>

    <div class="three wide column">
      <div class="ui card">
        <div class="image">
          <img src="{{driver?.image}}">
        </div>
        <div class="content">
          <a class="header">{{driver?.full_name}}</a>
          <div class="meta">
            <span class="date">{{driver?.email}}</span>
          </div>
          <div class="description">
              <bar-rating *ngIf="driver" [(rate)]="driver.rating" [max]="5" [readOnly]="true"></bar-rating>
          </div>

          <sm-checkbox *ngIf="enable" label="Usuario activo" [control]="enable" (change)="changeEnable()" type="toggle"></sm-checkbox>

          <!-- <div class="field">
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" name="enable" class="hidden" [checked]="driver?.enable" (change)="changeEnable()">
              <label>Usuario activo</label>
            </div>
          </div> -->

          <button class="ui negative fluid button" style="margin-top: 50px;" (click)="modal.show()">Eliminar</button>

        </div>
      </div>
    </div>

    <div class="thirteen wide column">
      <div class="ui tabular menu">
        <a routerLink="services" routerLinkActive="active" class=" item">
          Servicios
        </a>
        <a routerLink="inbox" routerLinkActive="active" class="item">
          Mensajes
        </a>
        <a class="item">
          Comentarios
        </a>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<sm-modal class="basic" #modal>
  <modal-content>
      <h2>¿Estás seguro de querer borrar la unidad permanentemente?</h2>
  </modal-content>
  <modal-actions>
    <button class="ui button" style="margin-right: 10px;" (click)="modal.hide()">Cancelar</button>
    <button class="ui button red" (click)="deleteDriver(modal)">Eliminar</button>
  </modal-actions>
</sm-modal>
