<div class="ui padded grid">
  <div class="row">
    <div class="sixteen wide column" style="margin-bottom: 20px;">
        <div class="ui large breadcrumb">
            <a class="section" routerLink="/dashboard/drivers">Conductores</a>
            <i class="right chevron icon divider"></i>
            <div class="active section">{{driver?.full_name}}</div>
          </div>
    </div>

    <div class="three wide column">
      <div class="ui card">
        <div class="image">
          <img src="{{driver?.image}}">
        </div>
        <div class="content">
          <div class="header">{{driver?.full_name}}
            <div class="ui icon button" style="float: right;" (click)="modaldriver.show({blurring: true})">
              <i class="icon edit"></i>
            </div>
          </div>
          <div class="meta">
            Unidad: {{driver?.unit_number}} <br>
            <span class="date">{{driver?.email}}</span>
          </div>
          <div class="description">
              <bar-rating *ngIf="driver" [(rate)]="driver.rating" [max]="5" [readOnly]="true"></bar-rating>
          </div>

          <sm-checkbox *ngIf="enable" label="Usuario activo" [control]="enable" (change)="changeEnable()" type="toggle"></sm-checkbox>

          <!-- <div class="field">
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" name="enable" class="hidden" [checked]="driver?.enable" (change)="changeEnable()">
              <label>Usuario activo</label>
            </div>
          </div> -->

          <button class="ui fluid button yellow" *ngIf="driver && driver.emergency" (click)="disable_emergency()"style="margin-top: 50px;">Desactivar emergencia</button>
          <button class="ui negative fluid button" style="margin-top: 50px;" (click)="modal.show()">Eliminar</button>

        </div>
      </div>
    </div>

    <div class="thirteen wide column">
      <div class="ui tabular menu">
        <a routerLink="services" routerLinkActive="active" class=" item">
          Servicios
        </a>
        <a routerLink="inbox" routerLinkActive="active" class="item">
          Mensajes
        </a>
        <a routerLink="comments" class="item" routerLinkActive="active">
          Comentarios
        </a>
        <a routerLink="reports" class="item" routerLinkActive="active">
            Reportes
          </a>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<sm-modal class="basic" #modal>
  <modal-content>
      <h2>¿Estás seguro de querer borrar la unidad permanentemente?</h2>
  </modal-content>
  <modal-actions>
    <button class="ui button" style="margin-right: 10px;" (click)="modal.hide()">Cancelar</button>
    <button class="ui button red" (click)="deleteDriver(modal)">Eliminar</button>
  </modal-actions>
</sm-modal>

<sm-modal title="Editar unidad" class="" #modaldriver>
  <modal-content>
    <div class="ui container grid" style="padding-top: 2em;">
      <div class="ten wide column">
        <form class="ui form" *ngIf="driver">
          <div class="field">
            <label>Nombre completo</label>
            <input type="text" name="first-name" placeholder="Nombre completo" [(ngModel)]="driver_updated.full_name">
          </div>
          <div class="field">
            <label>Email</label>
            <input type="email" name="email" placeholder="Email" [(ngModel)]="driver_updated.email">
          </div>
          <div class="field">
            <label>Número de unidad</label>
            <input type="number" name="unit_number" placeholder="Número de unidad" [(ngModel)]="driver_updated.unit_number">
          </div>
          <div class="field">
            <label>Nombre de usuario</label>
            <input type="text" name="full_name" placeholder="Usuario" [(ngModel)]="driver_updated.account">
          </div>
          <div class="field">
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Contraseña" [(ngModel)]="driver_updated.password">
          </div>
        </form>
      </div>
      <div class="four wide column" *ngIf="driver_updated">
          <div class="field">
            <img style="max-width: 100%; margin-top:10px; display: block; margin-left: auto; margin-right: auto;" class="ui small circular image" [src]="driver_updated.image" alt="">
            <label id="uploader">
              Selecciona imagen
              <input type="file" name="myfile" [(ngModel)]="val" #image (change)="readURL(image, val)" accept="image/*" />
            </label>
          </div>
        </div>
    </div>
  </modal-content>
  <modal-actions>
      <div class="ui buttons">
          <button class="ui button red" style="margin-right: 10px;" (click)="modaldriver.hide()">Cancelar</button>
          <div class="ui button primary" (click)="updateDriver(modaldriver)" [ngClass]="{'loading disabled': updating}">Guardar</div>
      </div>
  </modal-actions>
</sm-modal>



