<div class="ui internally celled padded grid" style="height: 94vh;;">
  <div class="row">
    <div class="four wide column">

      <div class="ui form">

        <h4 class="ui dividing header">Nueva tarifa</h4>

        <div class="field">
          <select [(ngModel)]="group_selected" (change)="selectGroup()">
            <option value="">Selecciona un grupo o lugar de origen</option>
            <option *ngFor="let gp of groups_places" [value]="gp._id">{{gp.base + ' - ' + gp.name}}</option>
          </select>
        </div>

        <div class="ui active centered inline loader" style="margin-top: 20px;" *ngIf="loading_available"></div>

        <div class="field" *ngIf="group_selected && groups_places_available.length > 0 && !loading_available">
          <select [(ngModel)]="second_group_selected">
            <option value="">Selecciona un grupo o lugar de destino</option>
            <option *ngFor="let gp of groups_places_available" [value]="gp._id">{{gp.base + ' - ' + gp.name}}</option>
          </select>
        </div>

        <div class=" field" *ngIf="second_group_selected && !loading_available">
          <input type="number" placeholder="Costo" [(ngModel)]="cost">
        </div>

      </div>

      <!-- <sm-select [(model)]="group_selected" (onChange)="selectGroup($event)" placeholder="Buscar grupo o lugar" class="fluid search">
        <option *ngFor="let gp of groups_places" [value]="gp._id">{{gp.name}}</option>
      </sm-select>

      <br>

      <sm-select [(model)]="second_group_selected" placeholder="Buscar grupo o lugar" class="fluid search">
        <option *ngFor="let gp of groups_places_available" [value]="gp._id">{{gp.name}}</option>
      </sm-select>

      <br> -->

      <button class="ui button yellow" style="margin-top: 10px;" [disabled]="!group_selected || !second_group_selected || !cost"
        (click)="saveTariff()">
        Guardar
      </button>


    </div>

    <div class="twelve wide column">
      <!-- <div class="ui buttons" style="float: right;" *ngIf="tariffs.length > 0">
        <button class="ui yellow button" (click)="updatemodal.show(); select_quantity = true;">Actualizar por cantidad</button>
        <div class="or" data-text="ó"></div>
        <button class="ui yellow button" (click)="updatemodal.show(); select_percentage = true;">Actualizar por porcentaje</button>
      </div> -->

      <sm-dropdown title="Editar globalmente" class="pointing floating labeled icon button yellow">
          <sm-item (click)="updatemodal.show(); select_quantity = true;">Actualizar por cantidad</sm-item>
          <sm-item (click)="updatemodal.show(); select_percentage = true;">Actualizar por porcentaje</sm-item>
      </sm-dropdown>

      <div class="ui section divider" style="clear: both;" *ngIf="tariffs.length > 0"></div>

      <div class="ui middle aligned divided list">
        <div class="item" *ngFor="let tariff of tariffs">
          <div class="right floated content">
            <span>{{tariff.cost | currency:'MXN':'symbol-narrow'}} &nbsp; &nbsp;</span>
            <sm-button class="" icon="pencil" (click)="edit.show(); selected_tariff = tariff;"></sm-button>
            <sm-button class="negative" icon="trash" (click)="deleteTariff(tariff._id)"></sm-button>
          </div>
          <div class="content">
            <p>
              {{ tariff.origin_group ? tariff.origin_group?.base.name + ' - ' + tariff.origin_group?.name  : tariff.origin_place?.base.name + ' - ' + tariff.origin_place?.name }}
              <b style="font-size: 1.2em;"><--></b>
                {{tariff.destiny_group ? tariff.destiny_group?.base.name + ' - ' + tariff.destiny_group?.name  : tariff.destiny_place?.base.name + ' - ' + tariff.destiny_place?.name
                }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <sm-modal class="" #edit>
    <modal-content>
      <div *ngIf="selected_tariff">
        <h3>
          {{selected_tariff.origin_group ? selected_tariff.origin_group?.name + ' - ' + selected_tariff.origin_group?.base.name : selected_tariff.origin_place?.name
          + ' - ' + selected_tariff.origin_place?.base.name}}
          <==>
            {{selected_tariff.destiny_group ? selected_tariff.destiny_group?.name + ' - ' + selected_tariff.destiny_group?.base.name
            : selected_tariff.destiny_place?.name + ' - ' + selected_tariff.destiny_place?.base.name}}
        </h3>

        <div class="ui form">
          <div class="fluid field">
            <input type="number" placeholder="Costo" [(ngModel)]="selected_tariff.cost">
          </div>
        </div>
      </div>
    </modal-content>
    <modal-actions>
      <div class="ui buttons">
        <div class="ui button negative" (click)="edit.hide()">Cancelar</div>
        <div class="ui button primary" (click)="editTariff(edit)" style="margin-left: 10px;">Guardar cambios</div>
      </div>
    </modal-actions>
  </sm-modal>

  <sm-modal class="" #updatemodal>
    <modal-content>
      <div>
        <h3 *ngIf="select_quantity">
          Actualizar por cantidad
        </h3>

        <h3 *ngIf="select_percentage">
          Actualizar por porcentaje
        </h3>

        <div class="ui form">
          <div class="fluid field">
            <input type="number" placeholder="Cantidad a sumar" *ngIf="select_quantity" [(ngModel)]="update_type.quantity">
          </div>
        </div>

        <div class="ui form">
          <div class="fluid field">
            <input type="number" placeholder="Porcentaje a sumar" *ngIf="select_percentage" [(ngModel)]="update_type.percentage">
          </div>
        </div>

      </div>
    </modal-content>
    <modal-actions>
      <div class="ui buttons">
        <div class="ui button negative" (click)="updatemodal.hide(); select_quantity = false; select_percentage = false;">Cancelar</div>
        <div class="ui button primary" [ngClass]="{'loading': loading_all, 'disabled': loading_all}" (click)="updateAll(updatemodal)" style="margin-left: 10px;">Guardar cambios</div>
      </div>
    </modal-actions>
  </sm-modal>

</div>

<style>
  .ui.active.dimmer.modals.transition {
    display: flex !important;
    display: -ms-flexbox !important;
  }
</style>
