<div class="ui padded grid">
    <h3 style="margin-top: 1em;">Nueva tarifa</h3>
  <div class="row">
    <div class="six wide column">
      <sm-select [(model)]="group_selected" (onChange)="selectGroup($event)" placeholder="Buscar grupo" class="fluid search">
        <option *ngFor="let group of groups" [value]="group._id">{{group.name}}</option>
      </sm-select>
    </div>
    <div class="six wide column">
      <sm-select [(model)]="second_group_selected" placeholder="Buscar grupo" class="fluid search">
        <option *ngFor="let group of groups_available" [value]="group._id">{{group.name}}</option>
      </sm-select>
    </div>
    <div class="four wide column">
      <div class="ui input">
        <input type="number" placeholder="Costo" [(ngModel)]="cost">
      </div>

      <button class="ui button primary" [disabled]="!group_selected || !second_group_selected || !cost" (click)="saveTariff()">
        Guardar
      </button>
    </div>
  </div>
  <h3>Tarifas</h3>
  <div class="row">
    <div class="sixteen wide column">
      <sm-list class="divided">
        <sm-item *ngFor="let tariff of tariffs">
          {{tariff.groups[0].name}} - {{tariff.groups[1].name}} - {{tariff.cost | currency:'MXN':true}}
        </sm-item>
      </sm-list>
    </div>
  </div>
</div>
