<div class="ui padded grid">
  <div class="row">
    <div class="five wide column">
      <sm-select [(model)]="group_selected" (onChange)="selectGroup($event)" placeholder="Buscar grupo o lugar" class="fluid search">
        <option *ngFor="let gp of groups_places" [value]="gp._id">{{gp.name}}</option>
      </sm-select>

      <br>

      <sm-select [(model)]="second_group_selected" placeholder="Buscar grupo o lugar" class="fluid search">
        <option *ngFor="let gp of groups_places_available" [value]="gp._id">{{gp.name}}</option>
      </sm-select>

      <br>

      <div class="ui input fluid">
        <input type="number" placeholder="Costo" [(ngModel)]="cost">
      </div>

      <button class="ui button yellow" style="margin-top: 10px;" [disabled]="!group_selected || !second_group_selected || !cost" (click)="saveTariff()">
        Guardar
      </button>

      <div class="ui horizontal divider">
          Tarifas
        </div>

      <sm-list class="divided">
        <sm-item *ngFor="let tariff of tariffs">
          {{tariff.origin_group ? tariff.origin_group?.name : tariff.origin_place?.name}} - {{tariff.destiny_group ? tariff.destiny_group?.name : tariff.destiny_place?.name}}
          - {{tariff.cost | currency:'MXN':true}}
        </sm-item>
      </sm-list>
    </div>
  </div>

</div>
