<div class="ui padded grid">
  <div class="four wide column">

    <div class="ui list">
        <div class="item" *ngFor="let place of places">
          <div class="header"> <i style="color: red; cursor: pointer;" (click)="selectPlace(place); modal.show()">x</i> {{place.name}}</div>
          {{place.address}}
        </div>
      </div>

    <h5 *ngIf="places.length == 0">Aún no hay lugares registrados.</h5>
  </div>
  <div class="twelve wide column">
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
      <agm-marker *ngFor="let marker of markers" [label]="marker.label" [latitude]="marker.latitude" [longitude]="marker.longitude"></agm-marker>
    </agm-map>

    <form class="ui form" style="margin-top: 1em;">
        <div class="field">
          <label>Nombre</label>
          <input type="text" name="place_name" [(ngModel)]="place_name" placeholder="Nombre lugar">
        </div>

        <div class="field">
          <label>Dirección</label>
          <input type="text" #search placeholder="Nuevo lugar">
        </div>
    </form>

  </div>
</div>

<sm-modal class="basic" #modal>
    <modal-content *ngIf="place_selected">
        <h2>¿Estás seguro de querer borrar {{place_selected.name}}?</h2>
        <p>Se borrarán todas las tarifas relacionadas a este lugar.</p>
    </modal-content>
    <modal-actions>
      <button class="ui button" style="margin-right: 10px;" (click)="modal.hide()">Cancelar</button>
      <button class="ui button red" (click)="deletePlace(modal)">Eliminar</button>
    </modal-actions>
  </sm-modal>
