<div class="ui padded grid">
  <div class="row">
    <div class="sixteen wide column">

      <h4 *ngIf="services.length > 0" style="display: inline-block;">Servicios: {{getTotal()}}</h4>

        <div class="ui form" style="display: inline-block; float: right; margin-bottom: 20px;">
            <div class="field">
              <select [(ngModel)]="time" (change)="getServices()">
                <option value="day">Diario</option>
                <option value="week">Semanal</option>
              </select>
            </div>
          </div>

        <h3 *ngIf="services.length == 0">Aún no tiene servicios en el tiempo seleccionado.</h3>
        <table class="ui celled table" *ngIf="services.length > 0">
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Estado</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let service of services" [ngClass]="{'negative': service.state == 'canceled', 'positive': service.state == 'completed'}">
                <td>{{service.user?.full_name}}</td>
                <td>{{
                  service.origin_colony ? service.origin_colony?.name : service.origin_place?.name
                  }}</td>
                <td>
                  {{
                    service.destiny_colony ? service.destiny_colony?.name : service.destiny_place?.name
                  }}
                </td>
                <td>{{service.state == 'completed' ? 'Completado' :
                  service.state == 'pending' ? 'Pendiente' :
                  service.state == 'on_the_way' ? 'En camino' :
                  service.state == 'in_progress' ? 'En proceso' : 'Cancelado'
                }}</td>
                <td>{{service.state == 'completed' ? (service.end_time | date: 'dd/MM/yy hh:mm') : ''}}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
