<sm-menu title="XCero" logoClass="logo-xcero" class="ui inverted" logo="assets/xcero_oficial.png">

  <sm-menu class="menu right secondary">
      <a class="item yellow" sm-item routerLink="services" routerLinkActive="active">Servicios</a>
      <a class="item yellow" sm-item routerLink="analysis" routerLinkActive="active">Análisis</a>
    <a class="item yellow" sm-item routerLink="drivers" routerLinkActive="active">Conductores</a>
    <a class="item yellow" routerLink="tariff" routerLinkActive="active" sm-item>Tarifas</a>
    <a class="item yellow" sm-item routerLink="bases" routerLinkActive="active">Bases</a>
    <a class="item yellow" sm-item routerLink="notices" routerLinkActive="active">Avisos</a>
    <a class="item yellow" sm-item routerLink="reports" routerLinkActive="active">Reportes</a>
    <a class="item" (click)="logOut()">
      <i class="icon power off"></i>
    </a>
  </sm-menu>
</sm-menu>

<router-outlet></router-outlet>

<style>
  .logo-xcero {
    width: 6em !important;
  }
</style>
