/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";

table button input {
  border-radius: 0 !important;
}

agm-map {
  height: 450px;
}


.ui.dimmer {
  display: flex !important;
}

.ui.modal {
  margin-top: 0;
}
