<div class="ui padded grid">
  <div class="thirteen wide column">
    <div class="ui large breadcrumb">
      <a class="section" routerLink="/dashboard/bases">Bases</a>
      <i class="right chevron icon divider"></i>
      <div class="active section">{{base?.name}}</div>
    </div>
    <button class="ui red button" style="float: right;" (click)="modal.show()">Eliminar base</button>
    <div class="ui top attached tabular menu" style="margin-top: 2em;">
      <a class="item" routerLink="groups" routerLinkActive="active">
        Grupos
      </a>
      <a class="item" routerLink="places" routerLinkActive="active">
        Lugares
      </a>
    </div>
    <div class="ui bottom attached segment">

      <router-outlet></router-outlet>
    </div>

  </div>

  <div class="ui three wide column" style="border-left: 2px solid black;" *ngIf="base">
    <h3>En formación</h3>

    <p *ngIf="base?.stack.length == 0">No hay conductores en formación</p>

    <div class="ui ordered relaxed divided list">
      <div class="item" *ngFor="let unit of base.stack">
        <div class="content">
          <p class="header">{{unit.full_name}} {{unit.unit_number}}</p>
        </div>
      </div>
    </div>

    <button (click)="empty_base()" class="ui fluid yellow button" [disabled]="base.stack.length == 0">Vaciar base</button>
  </div>
</div>

<sm-modal class="basic" #modal>
  <modal-content>
      <h2>¿Estás seguro de querer borrar la base?</h2>
      <p>IMPORTANTE: Se eliminaran los grupos, colonias, lugares y tarifas relacionadas a esta base.</p>
  </modal-content>
  <modal-actions>
    <button class="ui button" style="margin-right: 10px;" (click)="modal.hide()">Cancelar</button>
    <button class="ui button red" (click)="baseDelete(modal)">Eliminar</button>
  </modal-actions>
</sm-modal>
