<div class="ui padded grid">
  <div class="sixteen wide column">
    <div class="ui large breadcrumb">
      <a class="section" routerLink="/dashboard/bases">Bases</a>
      <i class="right chevron icon divider"></i>
      <div class="active section">{{base?.name}}</div>
    </div>
    <div class="ui top attached tabular menu" style="margin-top: 2em;">
      <a class="item" routerLink="groups" routerLinkActive="active">
        Grupos
      </a>
      <a class="item" routerLink="places" routerLinkActive="active">
        Lugares
      </a>
    </div>
    <div class="ui bottom attached segment">

      <router-outlet></router-outlet>
    </div>

  </div>
</div>
