<div class="ui padded grid">
  <div class="three wide column">
    <sm-button class="fluid yellow" icon="plus" (click)="createGroupModel.show({inverted: false})">Crear nuevo grupo</sm-button>
    <br>
    <sm-list class="divided animated">
      <sm-item *ngFor="let group of groups" (click)="selecte_group(group)">
        {{group.name}}
      </sm-item>
    </sm-list>
  </div>
  <div class="ten wide column">
    <h4 *ngIf="group_selected">{{group_selected.name}}</h4>
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
      <agm-marker *ngFor="let colony of colonies" [label]="colony.label" [latitude]="colony.latitude" [longitude]="colony.longitude"></agm-marker>
    </agm-map>
    <br>
    <form [formGroup]="colonyForm">
      <div class="ui input fluid" [ngClass]="{'disabled': !group_selected}">
        <input type="text" #search formControlName="name">
      </div>
    </form>

    <br>
    <sm-button class="fluid yellow" icon="plus" [disabled]="!group_selected || colonyForm.invalid" (click)="createGroupModel.show({inverted: false})">Añadir colonia</sm-button>
  </div>

  <div class="two wide column">
    <sm-list class="divided">
      <sm-item *ngFor="let colony of colonies">
        <i style="color: red; cursor: pointer; ">x</i>
        {{colony.label}}
      </sm-item>
    </sm-list>
  </div>
</div>


<sm-modal title="Nuevo grupo" #createGroupModel>
  <modal-content>
    <div class="ui input">
      <input type="text" [(ngModel)]="new_group_name" placeholder="Ingresa nombre de grupo">
    </div>
  </modal-content>

  <modal-actions>
    <div class="ui buttons">
      <button class="ui negative button" (click)="createGroupModel.hide()">Cancelar</button>
      <button class="ui button primary" [disabled]="!new_group_name" (click)="create_group()" style="margin-left: 10px;">Guardar grupo</button>
    </div>
  </modal-actions>
</sm-modal>
